{% load crispy_forms_tags %}
<div class="modal" id="addModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4>کاربر جدید</h4>
			</div>
			<div class="modal-body">
				<form method="POST" novalidate>
					{% csrf_token %}
					<!-- {{ form|crispy }} -->
					{% include 'users/includes/_registerForm.html' %}
					<div class="form-group">
						<button class="btn btn-info" type="submit">ذخیره</button>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
			</div>
		</div>
	</div>
</div>
