<div id="div_id_email" class="form-group">
	<label for="id_email" class=" requiredField">آدرس ایمیل
		<span class="asteriskField">*</span>
	</label>
	<div class="">
		<input type="email" name="email" class="emailinput form-control {% if form.errors %}is-invalid{% endif %}" required id="id_email">
		{% for error in form.email.errors %}
        	<small class="error-msg text-danger">{{ error }}</small>
        {% endfor %}
	</div>
</div>
<div id="div_id_password1" class="form-group">
	<label for="id_password1" class=" requiredField">کلمه عبور
		<span class="asteriskField">*</span>
	</label>
	<div class="">
		<input type="password" name="password1" autocomplete="new-password" class="textinput textInput form-control " required id="id_password1">
	</div>
</div>
<div id="div_id_password2" class="form-group">
	<label for="id_password2" class=" requiredField">تأیید کلمه عبور
		<span class="asteriskField">*</span>
	</label>
	<div class="">
		<input type="password" name="password2" autocomplete="new-password" class="textinput textInput form-control" required id="id_password2">
		<small id="hint_id_password2" class="form-text text-muted">برای تائید، رمز عبور قبلی را وارد کنید.</small>
	</div>
</div>
<div id="div_id_first_name" class="form-group">
	<label for="id_first_name">نام</label>
	<div class="">
		<input type="text" name="first_name" class="textinput textInput form-control" id="id_first_name">
	</div>
</div>
<div id="div_id_last_name" class="form-group">
	<label for="id_last_name">نام خانوادگی</label>
	<div class="">
		<input type="text" name="last_name" class="textinput textInput form-control" id="id_last_name">
	</div>
</div>
<div id="div_id_user_type" class="form-group">
	<label for="id_user_type" class=" requiredField">نوع کاربر</label>
	<div class="">
	    <select name="user_type" class="form-control" id="id_user_type">
			<option>مدیر اصلی</option>
			<option>سایر</option>
	    </select>
	</div>
</div>